{% extends 'base.html' %}
{% block content %}

    <!-- Page Features -->

    <div class="text-center">
      <div class="box">
        {% for job in data %}
        <div class="card h-100">
          <img class="card-img-top" src="https://picsum.photos/200/300?random={{job.pay}}" width="130" height="130" alt="">
          <div class="card-body">
            <h4 class="card-title">{{job.type}}</h4>
            <p class="card-text">
              Business: {{job.company}}<br />
              Date: {{job.date}}<br />
              From: {{job.start_time}} to {{job.end_time}}<br />
              Pay: ${{job.pay}}
            </p>
          </div>
          <div class="card-footer">
            <a href="{% url 'shiftswap:apply' %}" type="button" class="btn btn-info btn-secondary btn-sm">Apply</a>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>

{% endblock %}
