{% extends 'base.html' %}
{% block content %}

<div class="container">
 <h5>PROFILE PAGE</h5>
 <br/>
 <div class="row">
   <div class="col-sm-5">
     <p>USER: <br/><br/>
       Name: {{user.get_username}}<br/>
       Email: {{user.email}}<br/>

     </p>
   </div>

   <div class="col-sm-4">
      <ul style="list-style-type:none">
        SOMETHING SOMETHING: <br/><br/>
        {% for info in lookingup %}
       <li>{{info}} ({{info.id}})
       </li>
       {% endfor %}
     </ul>
   </div>

   <div class="col-sm-3">
      <ul style="list-style-type:none">
        JOB LIST: <br/><br/>
        {% for info in lookingup %}
       <li>{{info}} ({{info.id}})
       </li>
       {% endfor %}
     </ul>
   </div>


 </div>
</div>





{% endblock %}
